@charset "utf-8";
.{
	padding:0;
	margin:0;
}

.pictures{
	background:#CCCC00;
}

.pictures a{
	text-decoration:none;
}

.product{
	float:left;	
	text-align:center;
	padding: 10px;
	width:205px;
	height:300px;
	margin: 10px;
	
	transition: box-shadow 0.5s , background-color 0.5s;
	-webkit-transition: box-shadow 0.5s , background-color 0.5s;
}
.product:hover{
	-webkit-box-shadow:0 0 5px rgba(0,100,100,.35);
	-moz-boz-shadow: 0 0 5px rgba(0,255,255,.35);
	box-shadow:0 0 5px rgba(0,100,100,.35);
}
.product a{
	text-decoration:none;
}
.product_name_in_list_container{
	height:60px;
	background-color:#fff;
	margin: 0 -10px 0 -10px;
}
.product_name_in_list{	/* заголовок товара из списка */
	margin:auto auto;
}
.product a h2{
	text-decoration:none;	
	background-color:#fff;
	min-height:35px;
	line-height:1.2;
	color:#009;
	font-size:15px;			
}

.product ul {
		margin: 5px 0 0 0;
		padding: 0;
		list-style: none;
	}
.product li {
		border-top: 1px solid #006BF7;
		padding: 2px 0;
	}

.product_image a img{
	border: 0;
	max-width:170px;
	max-height:160px;
}


.product_price{
	text-align:left;		
	padding-bottom: 10px;
	margin: 0px -10px 0px -10px;
	text-align:center;
}
.product_price div {
	font-weight:bold;
	font-size:17px;
	color:#FF5B0D;
}




/* кнопка добавить продукт в корзину */
.product_buy {	
	cursor:pointer;	
	position:relative;
	padding: 5px 20px;
	margin: 1px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-decoration: none;
	display: inline-block;  
    
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	border:solid 1px #006BF7;

	background-color: #006BF7;
	background-image: -moz-linear-gradient(#00C1FC, #006BF7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00C1FC), to(#006BF7));    
	background-image: -webkit-linear-gradient(#00C1FC, #006BF7);
	background-image: -o-linear-gradient(#00C1FC, #006BF7);
	background-image: -ms-linear-gradient(#00C1FC, #006BF7);
	background-image: linear-gradient(#00C1FC, #006BF7);
}
.product_buy:hover {
	background-color: #006BF7;
	background-image: -moz-linear-gradient(#006BF7, #00C1FC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006BF7), to(#00C1FC));      
	background-image: -webkit-linear-gradient(#006BF7, #00C1FC);
	background-image: -o-linear-gradient(#006BF7, #00C1FC);
	background-image: -ms-linear-gradient(#006BF7, #00C1FC);
	background-image: linear-gradient(#006BF7, #00C1FC); 
}